html{
  background-color: rgb(6,9,15);
  color: rgb(248, 234, 209);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  padding: 2rem;
  width: 85%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}
:root{
  --darker-primary-color:2, 4, 6;
  --primary-color: 6,9,15;
  --lighter-primary-color:14,20,30;
  --lightest-primary-color:34, 44, 63;
  --secondary-color: 250,199,102;
  --lightest-secondary-color: 248, 234, 209;
  --lighter-secondary-color: 255,222,161;
  --tertiary-color: 213, 102, 250;
  --darker-tertiary-color:127, 60, 149;
  --lighter-tertiary-color: 232, 163, 255;
  --quaternary-color: 102, 250, 208;
  --lighter-quaternary-color: 164, 255, 229;
}
.secondary-to-lighter-secondary{
  background: linear-gradient(to right, rgb(var(--secondary-color)) 0%, rgb(var(--lighter-secondary-color)) 50%, rgb(var(--secondary-color)) 100%);
  font-weight: 800;
}
.tertiary-to-lighter-tertiary{
  background: linear-gradient(to right, rgb(var(--tertiary-color)) 0%, rgb(var(--lighter-tertiary-color)) 50%, rgb(var(--tertiary-color)) 100%);
  font-weight: 800;
}
.quaternary-to-lighter-quaternary{
  background: linear-gradient(to right, rgb(var(--quaternary-color)) 0%, rgb(var(--lighter-quaternary-color)) 50%, rgb(var(--quaternary-color)) 100%);
  font-weight: 800;
}

.text-gradient-bg{
  position: relative;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.shimmer{
  animation: shimmer 3.0s linear infinite;
  background-size: 200% 100%;
}
@keyframes shimmer {
  0% {
      background-position: 0% 0%;
  }
  100% {
      background-position: 200% 0%;
  }
}
a{
  text-decoration: none;
  color: inherit;
}
.m-a{
  margin: auto;
}
.m-0{
  margin: 0px;
}
.m-5{
  margin: 5%;
}
.m-10{
  margin: 10%;
}
.pad-sides-20{
  padding: 0px 20px;
}
img{
  object-fit: contain;
}
.priority-icon{
  height: auto;
  width: 5%;
}
.priority-title{
  height: auto;
  width: 30%;
  text-align: center;
}
#PriorityContainer{
  z-index: 2;
}
.priority-block{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: .5vw rgb(44, 57, 83) solid;
  background-color: rgb(44, 57, 83);
  box-shadow: 0px 0px 12px 2px rgba(44, 57, 83, 0.74);
  border-radius: .5vw;
  padding: 10px;
  margin: 20px;
  color: rgb(248, 234, 209);
  max-width: 550px;
  width: 90%;
}
.w-100{
  width: 100%;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-align-center{
  align-items: center;
}
.flex{
  display: flex;
}
.jc-space-between{
  justify-content: space-between;
}
.close-btn{
  aspect-ratio: 2/1;
  height: auto;
  width: 5%;
}
.TracksTitle{
  text-align: center;
  margin: auto;
  width: 100%;
}
input{
  max-width: 50px;
}
tr{
  text-align: left;
}
table{
  border-spacing: 2vw;
}
.micro{
  max-width: 25px;
  max-height: 25px;
}
priorityblock-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.body-container{
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly;
  width: 85%;
  margin: auto;
}
.w-85{
  width: 85%;
}
.column-display{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  justify-content: space-evenly;
  width: 10%;
  z-index: 1;
}
.upper-buttons{
  width: 65%;
}
